p{
	
	margin: 0;        
	padding: 0; 
	color:rgb(9, 7, 7);
	font-family: 'Times New Roman', Times, serif
}
body{
	background : white;
    
	
}

ul.a {
	list-style-type: circle;
  }
  .highlight {
	text-shadow: aqua;

  }
  #style{
	align-items: center;
	
  }
  #main{
	list-style-type: circle;
	color: rgb(255, 0, 183);           
	font-family: Arial, sans-serif; 
    font-size: 18px;          
  }
  #jump{
	text-transform: none;
  }
  #justification{
    text-align: left;
  }
  
.container1 div{
    font-size: 200;
    font-family: 'Times New Roman', Times, serif;
    
  }

.container2 div{
    font-size: 200;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
}  


.box1{
    flex:2;
    background-color: #efeef6;
}

.box2{
    background-color:white;
    flex:4;
}

.box3{
    background-color:#22cf44;
    flex:3;
    order: 5;
}

.box4{
    background-color:rgb(186, 183, 23);
    flex:3;
    order: 3;
    justify-content: center;
}

.box5{
   flex: 3; 
   order: 4;
}


.container1{
        display:flex;
         gap: 10px;
        align-items: stretch;
        padding: 30px;
 }
    
.container2{
        display:flex;
        gap: 10px;
        align-items: stretch;
        padding: 10px;
        background-color: #22cf44;
        
    }


    
